<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Lista de usuarios</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
           
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div> 
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>           
    </div>

    <br />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Filtrar por nome: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="filter" >
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <table  class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Nivel de seguranca</th>
                        <th>Responsavel</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of filteredUsuarios">
                       <td>{{ usuario.id }}</td>
                       <td>{{ usuario.nome }}</td>
                       <td *ngIf="usuario.forcaSenha === 1" class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Ruim</td>
                       <td *ngIf="usuario.forcaSenha === 2" class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Mediana</td>
                       <td *ngIf="usuario.forcaSenha === 3" class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Bom</td>
                       <td *ngIf="usuario.forcaSenha === 4" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Forte</td>
                       <td *ngFor="let usuario2 of filteredUsuarios2">{{ usuario2.nome }}</td>
                       <td></td>
                       <td>
                            <button class="btn btn-primary" 
                            routerLink="/usuarios-form/{{ usuario.id }}" style="margin-right: 10px;">
                            <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="preparaDelecao(usuario)" data-toggle="modal" data-target="#modalDelecao">
                            <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="usuarioSelecionado">
                    Confirma a deleção do(a) usuario {{ usuarioSelecionado.nome }} ?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarUsuario()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>

    </div>
</div>